*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html {
    scroll-behavior: smooth;
}


body{
    background-color: #f4f6f8;
    color: #333;
}

/* Header */
header {
    background: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    background: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background: #4a90e2;
}

nav a.active {
    background: #7db8fcff;
}

/* Dashboard */
.dashboard {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px auto;
    width: 90%;
}

.dashboard-card {
    background: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

/* Cards */
.card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h2 {
    margin-bottom: 10px;
}

/* Lists */
ul {
    list-style-type: none;
}

ul li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
    margin-top: 20px;
}

/* Mobile Responsive */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}